.widgetLg{
    flex: 2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px hsla(0, 0%, 50%, 0.3), 0 1px 3px hsla(0, 0%, 50%, 0.2);
    
    .widgetLg-title{
        font-size: 25px;
        font-weight: 600;
    }

    .widgetLg-table{
        margin: 20px 0px;
        width: 100%;
        border-spacing: 20px;
    }
    .widgetLg-th{
        text-align: left;
    }
    .widgetLg-user{
        font-weight: 500;
    }
    .widgetLg-date, .widgetLg-amount{
        font-weight: 300;
    }
    .widgetLg-button{
        border: none;
        border-radius: 10px;
        padding: 5px 8px;
        font-size: 14px;
    }

    .widgetLg-button.Approved{
        background-color: hsla(157, 68%, 94%, 0.7);
        color: hsl(120, 99%, 32%);
    }
    
    .widgetLg-button.Pending{
        background-color: hsla(170, 18%, 93%, 0.7);
        color: hsl(240, 92%, 58%);
    }
    
    .widgetLg-button.Declined{
        background-color: hsla(356, 100%, 97%, 0.7);
        color: hsl(0, 97%, 46%);
    }
}