.userList{
    flex: 4;
}

.userList-user{
    display: flex;
    align-items: center;
}

.userList-img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;

}

.userList-edit{
    margin-right: 15px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(204, 70%, 53%);
    font-size: 14px;
    border: none;
    border-radius: 11px;
    padding: 4px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, outline 0.3s ease;
}

.userList-edit:hover {
  background-color: darken(hsl(204, 70%, 53%), 10%);
}

.userList-edit:active {
  background-color: darken(hsl(204, 70%, 53%), 20%);
}

.userList-edit:focus {
  outline: 2px solid hsl(204, 70%, 53%);
}

.userList-delete {
    color: hsl(6, 78%, 57%);
    border-radius: 7px;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
  
    &:hover {
      color: darken(hsl(6, 78%, 57%), 10%);
      background-color: hsla(6, 78%, 57%, 0.1);
    }
  
    &:active {
      color: darken(hsl(6, 78%, 57%), 20%);
    }
  
    &:focus-visible {
      color: hsl(6, 78%, 57%);
      background-color: hsla(6, 78%, 57%, 0.1);
      box-shadow: 0 0 0 2px hsla(6, 78%, 57%, 0.5);
    }
  }