.user{
    flex: 4;
    padding: 20px;
}

.title-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-create-button{
    width: 90px;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    color: hsl(157, 68%, 94%);
    background-color: hsl(120, 99%, 32%);
    font-size: 16px;
    cursor: pointer;
}

.user-container{
    display: flex;
    margin-top: 20px;
}

.user-display{
    flex: 1;
    padding: 20px;
    margin-right: 20px;
    box-shadow: 0 4px 6px hsla(0, 0%, 50%, 0.3), 0 1px 3px hsla(0, 0%, 50%, 0.2);
}

.user-update{
    flex: 2;
    padding: 20px;
    box-shadow: 0 4px 6px hsla(0, 0%, 50%, 0.3), 0 1px 3px hsla(0, 0%, 50%, 0.2);

}