*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.hero-container{
    display: flex;
}


.link{
    text-decoration: none;
    color: inherit;
}
